:root {
  --light-color-main: #ebffff;
  --light-color-accent: #c2fdff;
  --light-color-main-text: #292929;
  --light-color-accent-text: #292929;
  --light-color-anchor: #0040b6;
  --dark-color-main: #161517;
  --dark-color-accent: #242124;
  --dark-color-main-text: #fafafa;
  --dark-color-accent-text: #ebeaeb;
  --dark-color-anchor: #4fbeff;
  --font-size-title: 3.2rem;
  --font-size-h1: 2.4rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.6rem;
  --font-size-h4: 1.2rem;
  --font-size-base: 1rem;
  --font-size-small: 0.8rem;
  --blockquote-border: 0.3rem solid #666;
  --font-family: "CabinVariable", sans-serif;
  --code-font-family: "Victor Mono", monospace;
  --border-radius-generic: 5px;
}

header {
  margin: 1rem;
}

footer {
  font-size: 1.2rem;
  position: relative;
  bottom: 0;
  margin-top: 2rem;
}
footer dl {
  display: grid;
  grid-template-columns: auto 1fr;
}
@media (max-width: 768px) {
  footer dl {
    grid-template-columns: 1fr;
  }
}
footer dl dd {
  margin: 0;
}
footer dl dd ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 1.5rem;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  footer dl dd ul {
    justify-content: flex-start;
  }
}

article {
  max-width: 80ch;
}
article pre {
  overflow-x: auto;
  padding: 1rem;
  max-width: calc(100vw - 4rem);
}
article blockquote {
  border-left: var(--blockquote-border);
  padding-left: 1rem;
  margin-left: 0;
}

.h-card {
  overflow: auto;
}
.h-card img.u-photo {
  float: left;
  border-radius: 50%;
  margin-right: 1rem;
}
.h-card p {
  margin-top: 0;
}
.h-card p.p-note {
  margin-bottom: 0;
  margin-top: initial;
}

.h-card-mini {
  display: inline;
}
.h-card-mini img.u-photo {
  float: none;
  margin: 0 0 0 1ch;
  display: inline;
  vertical-align: middle;
}

form.send-webmention {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
form.send-webmention label {
  display: block;
  margin-bottom: 0.5rem;
  flex-basis: 100%;
}
form.send-webmention input[name=source] {
  flex: 1;
}
form.send-webmention input {
  padding: 0.5rem;
  font-size: var(--font-size-h4);
  border: 1px solid #777;
  background: transparent;
  color: inherit;
}

ul.webmention-reactions {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 0.25rem;
}

ul.webmention-replies {
  padding: 0;
  list-style: none;
}

li.webmention-reply article {
  border: 1px solid #777;
  padding: 1rem;
}
li.webmention-reply article header {
  text-align: left;
}
li.webmention-reply article header img {
  display: inline;
  vertical-align: middle;
  margin-right: 1ch;
  border-radius: 50%;
  float: left;
}

@font-face {
  font-family: "CabinVariable";
  font-style: normal;
  font-display: swap;
  font-weight: 400 700;
  src: url("fonts/cabin-vietnamese-variable-wghtOnly-normal.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "CabinVariable";
  font-style: normal;
  font-display: swap;
  font-weight: 400 700;
  src: url("fonts/cabin-latin-ext-variable-wghtOnly-normal.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "CabinVariable";
  font-style: normal;
  font-display: swap;
  font-weight: 400 700;
  src: url("fonts/cabin-latin-variable-wghtOnly-normal.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Victor Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Victor Mono Medium"), local("VictorMono-Medium"), local("Victor Mono"), local("VictorMono"), url("./fonts/victor-mono-latin.woff2") format("woff2");
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-main: var(--dark-color-main);
    --color-accent: var(--dark-color-accent);
    --color-main-text: var(--dark-color-main-text);
    --color-accent-text: var(--dark-color-accent-text);
    --color-anchor: var(--dark-color-anchor);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --color-main: var(--light-color-main);
    --color-accent: var(--light-color-accent);
    --color-main-text: var(--light-color-main-text);
    --color-accent-text: var(--light-color-accent-text);
    --color-anchor: var(--light-color-anchor);
  }
}
* {
  max-width: 100%;
}

body {
  color: var(--color-main-text);
  background-color: var(--color-main);
  font-family: var(--font-family);
  margin: 0;
  line-height: 1.5;
  font-size: 18px;
  margin: 4rem auto;
  margin-bottom: 0;
}
@media (min-width: 769px) {
  body {
    max-width: 60ch;
  }
}
@media (max-width: 768px) {
  body {
    max-width: calc(100vw - 2rem);
  }
}

a,
a:visited {
  color: var(--color-anchor);
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: 900;
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

small {
  font-size: var(--font-size-small);
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
}
dl dd {
  text-align: right;
}

.header-anchor {
  text-decoration: none;
  margin-left: 0.5ch;
}
.header-anchor .visually-hidden {
  display: none;
}

pre {
  border-radius: var(--border-radius-generic);
}

pre,
code {
  font-family: var(--code-font-family);
  font-variant-ligatures: none;
}

code {
  word-wrap: break-word;
}

header {
  text-align: center;
}

main {
  margin: 1rem auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
main img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

section.post-preview {
  color: var(--color-accent-text);
  background-color: var(--color-accent);
  margin: 1rem;
  padding: 1rem;
}
section.post-preview h2 {
  margin: 0;
}

.note header {
  text-align: left;
}
.note .p-content {
  font-size: var(--font-size-h4);
}