@use "fonts";
@use "mq";
@use "theme";

// Stuff on /index.html
.home-grid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  @include mq.mq($until: tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: fit-content 1fr;
  }
  section {
    padding: 1rem;
    &:nth-child(1) {
      background: var(--accent);
      color: var(--black);
    }
  }
}

main {
  max-width: 60ch;
  margin: 1rem auto;
  @include mq.mq($until: tablet) {
    max-width: calc(100vw - 2rem);
    margin: 1rem;
  }
}

section.h-feed {
  ul {
    list-style: none;
    li article {
        margin: 2rem 0;
        padding: 1rem;
        border: 5px solid var(--accent);
        border-radius: var(--border-radius);
        box-shadow: 5px 5px 0px 0px var(--accent);
        transition: box-shadow .2s ease;
        &:hover {
            box-shadow: 10px 10px 0px 0px var(--accent);
        }
    }
  }
}

article.h-entry {
  .title {
    text-align: center;
  }
}
