@use "mq";

:root {
  --amber: #ffbf00;
  --wisteria: #b495c6;
  --light-coral: #fb9998;
  --turquoise: #2fdac6;
  --yellow-green: #b2cc3e;
  --black: #000;
  --white: #fff;
  --font-family-sans: GeneralSans, sans-serif;
  --font-family-monospace: Iosevka, monospace;
  --border-radius: 10px;
  --code-background: #1d2021;
  // --accent : will be one of the five colors randomly set by SSG
}

// Utility classes
.hidden {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--white);
    --foreground: var(--black);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --foreground: var(--white);
  }
}

@mixin interactive-border {
  border: 5px solid var(--accent);
  border-radius: var(--border-radius);
  box-shadow: 5px 5px 0px 0px var(--accent);
  transition: box-shadow 0.2s ease;
  &:hover {
    box-shadow: 10px 10px 0px 0px var(--accent);
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-size: var(--step-0);
  font-family: var(--font-family-sans);
  margin: 0;
}

pre,
code {
  font-family: var(--font-family-monospace);
}

.title {
  font-size: var(--step-5);
  font-weight: 900;
}

a,
a:visited {
  color: var(--foreground);
  text-decoration: underline;
  text-decoration-color: var(--accent);
  &:hover {
    text-decoration-thickness: 4px;
  }
}

pre,
code {
  overflow-x: auto;
}
pre {
  padding: 1rem;
  border-radius: var(--border-radius);
}
code:not(pre code) {
  border-radius: var(--border-radius);
  padding: 1px;
  background: var(--code-background);
}

header.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid var(--foreground);
  @include mq.mq($until: tablet) {
    flex-direction: column;
  }
  img.logo {
    background: var(--accent);
  }
  nav {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}

footer.site-footer {
  border-top: 2px solid var(--foreground);
  text-align: center;
  margin: 1rem 0;
}
