---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostPreview from '../../components/PostPreview.svelte';
export async function getStaticPaths({ paginate, rss }) {
  const posts = Astro.fetchContent('./*.md').sort(
    (a, b) => new Date(b.date) - new Date(a.date)
  );
  // Generate RSS feed
  rss({
    // The RSS Feed title, description, and custom metadata.
    title: "Pranav's Blog",
    description: 'Feed of all posts on https://obnerd.in/',
    customData: `
    <language>en-gb</language>
    <lastBuildDate>${new Date().toUTCString()}</lastBuildDate>
    `,
    items: posts.map((item) => ({
      title: item.title,
      description: item.summary,
      link: item.url,
      pubDate: item.date,
    })),
    dest: '/posts/index.xml',
  });
  // Return a paginated collection of paths for all posts
  return paginate(posts);
}
const { page } = Astro.props;
---

<BaseLayout title="Posts">
  <h1 class="title">Post</h1>
  {page.data.map((post) => <PostPreview post={post} />)}
</BaseLayout>
