---
title: Posts
layout: main
---

<h1 class="title">{{title}}</h1>

{% set postslist = collections.posts%}
{% for post in postslist | reverse %}
  {% include "partials/post-preview.njk" %}
{% endfor %}