---
permalink: "index.xml"
eleventyExcludeFromCollections: true
layout: rss.njk
---
{% import "partials/post.njk" as postTemplate with context %}

<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ site.baseUrl }}" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.baseUrl }}</link>
    <atom:link href="{{ permalink | absoluteUrl(site.baseUrl) }}" rel="self" type="application/rss+xml"/>
    <description>{{ site.summary }}</description>
    <language>{{ metadata.language }}</language>
    {%- for post in posts | reverse %}
      {%- set absolutePostUrl = ("/posts/"+post.slug) | absoluteUrl(site.baseUrl) %}
      <item>
        <title>{{ post.title }}</title>
        <link>{{ absolutePostUrl }}</link>
        <description>{{ postTemplate['post'](post) | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
        <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
        <dc:creator>{{ site.author }}</dc:creator>
        <guid>{{ absolutePostUrl }}</guid>
      </item>
    {%- endfor %}
  </channel>
</rss>
