---js
{
    pagination : {
        data: "collections",
        size: 1,
        alias: "collectionName",
        before: function(paginationData, fullData) {
            const postKinds = require(`${process.cwd()}/postKinds.js`);
            return paginationData.filter(entry => [...postKinds, "posts"].includes(entry));
        }
    },
    permalink: "/{{ collectionName }}/",
    eleventyComputed: {
        title: "{{ collectionName | title }}"
    }
}
---
{% import "partials/post.njk" as post with context %}
<section class="h-feed">
    <h1 class="p-name">{{ title }}</h1>
    <ul>
        {% for page in (collections[collectionName] | reverse) %}
        <li>
            {{ post.postStart(page) }}
            {{ post[page.data.kind](page) }}
            {{ post.postEnd(page) }}
        </li>
        {% endfor %}
    </ul>
</section>