// Styles for elements which are commonly applied wherever Markdown is used in this site.
@use './variables.scss' as v;

article {
  max-width: 60ch;
  pre {
    overflow-x: auto;
    padding: 1rem;
    @include v.size-xl {
      width: 80ch;
    }
  }
  .icon-link {
    opacity: 0;
    margin-left: 0.5ch;
  }
  $headings: (h1, h2, h3, h4, h5, h6);
  @each $heading in $headings {
    #{$heading}:hover .icon-link {
      opacity: 1;
    }
  }
  blockquote {
    border-left: var(--blockquote-border);
    padding-left: 1rem;
    margin-left: 0;
  }
}
