// Styles for elements which are commonly applied wherever Markdown is used in this site.
@use './variables.scss' as v;

article {
  max-width: 60ch;
  pre {
    overflow-x: auto;
    padding: 1rem;
    max-width: calc(100vw - 4rem);
    @include v.size-xl {
      width: 80ch;
    }
  }
  .icon-link {
    opacity: 0;
    margin-left: 0.5ch;
  }
  blockquote {
    border-left: var(--blockquote-border);
    padding-left: 1rem;
    margin-left: 0;
  }
}
