---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostPreview from '../components/PostPreview.svelte';
const posts = Astro.fetchContent('./posts/**/*.md')
  .filter((post) => (import.meta.env.PROD ? !post.draft : true))
  .sort((a, b) => b.date - a.date)
  .slice(0, 2);
---

<BaseLayout>
  <h1 class="title">Hi 👋! I am Pranav Karawale!</h1>
  <h2>About me</h2>
  <p>
    I am a 16-year old student from India. I aspire to be a professional
    software developer in the near future.
    <br />
    I make software. Different kinds of useful software, from fancy terminal apps
    and hacky scripts to blazing fast websites (like this one :D).
    <br />
    Apart from programming, my interests lie in soccer, tinkering with stuff, and
    socializing with people.
  </p>
  <h2>About this site</h2>
  <p>
    This is my personal website, made using the awesome static site builder <a
      href="https://astro.build">Astro</a
    >. Here I put in stuff that could be useful to the future me, or even you,
    my ideas and thoughts on something I come across. Two awesome fonts, <a
      href="https://rubjo.github.io/victor-mono">Victor Mono</a
    > for the code blocks and <a href="https://rsms.me/inter">Inter</a> for the rest
    are used.
    <br />
    As of now, this site is <em>still under rebuilding.</em>
    <br />
    <b>Feel free to browse around, and enjoy this website!</b>
  </p>
  <h2>Recent posts</h2>
  {posts && posts.map((post) => <PostPreview post={post} />)}
  <a style="font-size: var(--font-size-h4)" href="/posts">More posts</a>
</BaseLayout>

<style>
  :global(main) {
    max-width: 60ch !important;
  }
</style>
