<p class="license">
        Copyright &copy; {{ page.date | formatDate("YYYY") }} Pranav Karawale. All rights
            reserved.
</p>
<nav>
    <a href="https://codeberg.org/retronav/karawale.in">Source</a>
</nav>