{% macro link(obj, key) %}
    {% if key in obj %}
        <link rel="{{ key }}" href="{{ obj[key] }}">
    {% endif %}
{% endmacro %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ summary if summary else site.summary }}">
<title>
    {{  title+" - "+site.title if title and title !== site.title else site.title }}
</title>
<link rel="stylesheet" href="{{ '/styles/index.scss' | url }}" />
{% if site.indieweb %}
    {% set indieweb = site.indieweb %}
    {{ link(indieweb, "micropub") }}
    {{ link(indieweb, "authorization_endpoint") }}
    {{ link(indieweb, "token_endpoint") }}
{% endif %}