---
const props = Astro.props;
---

<div class="iframe-wrapper">
  <iframe {...props}>
    <slot />
  </iframe>
</div>

<style>
  .iframe-wrapper {
    min-height: 300px;
    width: 100%;
    overflow: hidden;
    resize: both;
    padding-bottom: 1rem;
    background: white;
    iframe {
      width: 100% !important;
      height: 100% !important;
    }
  }
</style>
