<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
    {% block head %}{% endblock %}
  </head>
  <body>
    <header class="site-header">
      {% include "partials/header.njk" %}
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer class="site-footer">
      {% include "partials/footer.njk" %}
    </footer>
  </body>
</html>