<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body>
    <header>
      {% include "partials/header.njk" %}
    </header>
    <hr/>
    <main>
      {{ content | safe }}
    </main>
    <hr/>
    <footer>
      {% include "partials/footer.njk" %}
    </footer>
  </body>
</html>