---
layout: base
---

{% import "partials/post.njk" as post with context %}
{% set currentPost = collections.posts | getCollectionItem %}

{{ post.postStart(currentPost) }}
{{ post.note(currentPost) }}
{{ post.postEnd(currentPost) }}

{% include "partials/webmentions.njk" %}