---
layout: base
---

<article class="h-entry post">
    <h1 class="title p-name">{{ post.title }}</h1>
    <aside>
        <p class="p-summary hidden">{{ post.summary }}</p>
        <a href="{{ site.baseUrl }}" class="p-author h-card hidden">{{ site.author }}</a>
        <a href="{{ page.url | absoluteUrl(site.baseUrl) }}" class="u-url hidden"></a>
        <small>
            Published <time class="dt-published" datetime="{{ post.date | formatDate("YYYY-MM-DDTHH:mm:ssZ") }}">
            {{ post.date | formatDate("DD MMMM, YYYY") }}
        </time>
        {% if post.updated %}
            , updated
            <time class="dt-updated" datetime="{{ post.updated | formatDate("YYYY-MM-DDTHH:mm:ssZ") }}">
                {{ post.updated | formatDate("DD MMMM, YYYY") }}
            </time>
        {% endif %}
        </small>
        <br />
        <small>
            Tagged under:
            <ul class="tags">
                {% for tag in post.tags %}
                <li>
                    <a href="/tags/{{ tag }}">
                        #<span class="p-category">{{ tag }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </small>
        {% set postAge = post.date | getPostAgeInYears %}
        {% if postAge > 0 %}
        <p class="old">
            <small>
                ⚠️ This article is over {{ postAge }} year{% if postAge > 1 %}s{% endif %} old. Opinions and technicalities change!
            </small>
        </p>
        {% endif %}
        <details>
            <summary>Table of Contents</summary>
            {{ post.content | toc | safe }}
        </details>
    </aside>
    <section class="e-content">
        {{ post.content | safe }}
    </section>
</article>
<hr>
{% include "partials/webmentions.njk" %}
